* {
  box-sizing: border-box;
}

html,
body,
#root {
  min-width: 920px;
  min-height: 620px;
  margin: 0;
}

html {
  font-size: 14px;
}

body {
  color: var(--chakra-colors-fg);
  background: var(--chakra-colors-bg);
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
